In [34]:
import pandas as pd
import numpy as np

df = pd.read_excel("DS1_C7_S4_Project_BirdStrike_Data.xlsx", sheet_name="Bird Strikes")

In [35]:
pd.set_option('display.max_columns', None)
df.head()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,Origin State,When: Phase of flight,Conditions: Precipitation,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,2,US AIRWAYS*,New York,Climb,NaN,False,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,2001-07-25,Caused damage,2,AMERICAN AIRLINES,Texas,Landing Roll,NaN,False,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,2001-09-14,No damage,2,BUSINESS,Louisiana,Approach,NaN,False,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,2,ALASKA AIRLINES,Washington,Climb,NaN,True,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,2003-06-23,No damage,2,COMAIR AIRLINES,Virginia,Approach,NaN,False,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50.0,0,No

In [38]:
df.isna().sum()

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Remarks                                    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

In [37]:
# DATA CLEANING

# List of columns to fill with mode
mode_cols = [
    'Aircraft: Type',
    'Origin State',
    'Airport: Name',
    'Altitude bin',
    'Effect: Impact to flight',
    'FlightDate',
    'Aircraft: Number of engines?',
    'Aircraft: Airline/Operator',
    'When: Phase of flight',
    'Conditions: Precipitation',
    'Remarks',
    'Wildlife: Size',
    'Pilot warned of birds or wildlife?',
    'Feet above ground',
    'Is Aircraft Large?'
]

# Ensure FlightDate is datetime before filling
df['FlightDate'] = pd.to_datetime(df['FlightDate'], errors='coerce')

# Fill missing values for all columns using mode
for col in mode_cols:
    if df[col].isnull().sum() > 0:  # Fill only if missing values exist
        df[col] = df[col].fillna(df[col].mode()[0])


# Function to categorize based on 'Wildlife: Number Struck Actual'
def categorize_strike(num):
    if pd.isnull(num):
        return np.nan
    elif num == 1:
        return '1'
    elif 2 <= num <= 10:
        return '2 to 10'
    elif 11 <= num <= 100:
        return '11 to 100'
    elif num > 100:
        return 'Over 100'
    else:
        return np.nan

# Fill missing values in 'Wildlife: Number struck' using actual numeric values
df['Wildlife: Number struck'] = df['Wildlife: Number struck'].fillna(
    df['Wildlife: Number Struck Actual'].apply(categorize_strike)
)
df['Wildlife: Number struck'] = df['Wildlife: Number struck'].astype(str).str.strip()

In [39]:
# Export cleaned DataFrame to CSV
df.to_csv("sales_data_cleaned.csv", index=False)

print("✅ Cleaned dataset has been exported as 'sales_data_cleaned.csv'")

✅ Cleaned dataset has been exported as 'sales_data_cleaned.csv'